.logo {
    display: flex;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 90px;
    background-color: rgb(206, 100, 100);
    h1 {
        display: flex;
        color: white;
        margin: 0 0 320px 0;
    }
    h3 {
        display: flex;
        margin-bottom: 0;
    }
    p {
        display: flex;
        color: white;
        margin-top: 5px;
    }
}